# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode
.js2-big-trip-e2e

# Вспомогательные файлы
*.log*
node_modules/
build/

# Собранные файлы (допишите самостоятельно)
